.wrapper {
  height: 100%;
  padding: 45px;
  background-color: #f6f7f8;
  color: #0c0a34;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
