.wrapper {
  border-radius: 5px;
  width: max-content;
  padding: 2px 4px;
}
.frontEnd {
  color: rgb(48, 121, 189);
  border: 1px solid rgb(48, 121, 189);
}
.backEnd {
  color: rgb(215, 131, 22);
  border: 1px solid rgb(215, 131, 22);
}

.other {
  color: rgb(18, 171, 82);
  border: 1px solid rgb(18, 171, 82);
}
