.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 100vh;
  color: #f6f7f8;
  gap: 40px;
  padding-top: 50px;
}

.mobileProfile {
  display: none;
  border-radius: 50%;
  border: 2px solid #f6f7f8;
}

.text {
  display: flex;
  gap: 30px;
  flex-direction: column;
  h5 {
    padding-right: 40%;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
  .profile {
    border-radius: 50%;
    border: 4px solid #f6f7f8;
  }
  h1 {
    min-width: 0;
    word-wrap: break-word !important;
  }
}

.cta {
  margin-left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 400ms ease;
  .arrow {
    filter: invert(100%) sepia(2%) saturate(2456%) hue-rotate(130deg)
      brightness(102%) contrast(95%);
  }
}

.cta:hover {
  transform: translate(10px, 0);
}

@media only screen and (max-width: 900px) {
  .wrapper {
    padding: 40px;
    gap: 30px;
  }
  .mobileProfile {
    display: block;
  }

  .hero {
    // width: 100%;
    word-break: break-all;
    h1 {
      font-size: 4rem !important;
    }
    .profile {
      display: none;
    }
  }
  .text {
    gap: 30px;
    h5 {
      padding-right: 0;
    }
  }
}
