.btn {
  margin-left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 400ms ease;
  .arrow {
    filter: invert(100%) sepia(2%) saturate(2456%) hue-rotate(130deg)
      brightness(102%) contrast(95%);
  }
  .arrowDark {
    filter: invert(11%) sepia(9%) saturate(5185%) hue-rotate(208deg)
      brightness(94%) contrast(115%);
  }
}

.btn:hover {
  transform: translate(10px, 0);
}
