.wrapper {
  height: 100vh;
  background-color: #f6f7f8;
  color: #0c0a34;
  padding: 40px 45px 0px 45px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.tech {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-right: 10%;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 60%;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    height: 100%;
    padding: 60px 45px 20px 45px;
  }
  .container {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .tech {
    padding-right: 10%;
  }
}
